
#About-container, #about{
    min-height: 100vh;
    background: linear-gradient(135deg, #0f0c29 0%, #302b63 50%, #24243e 100%);
    font-family: Poppins;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-margin-top: 100px;
}

.About-content{
    margin: 20px;
    min-height: 550px;
    max-width: 550px;
}

h1{
    font-size: 3rem;
}

@media (max-width:900px) {
    #About-container{
        flex-direction: column;
    }
    .About-content{
        max-width: 100%;
    }
}