#Skills-container, #skills{
    padding: 50px;
    min-height: 100vh;
    background: linear-gradient(135deg, #1a1a2e 0%, #16213e 50%, #0f3460 100%);
    font-family: Poppins;
    scroll-margin-top: 100px;
}

#Skills-container .title{
    font-size: 11vmin;
    width: 80%;
    margin: auto;
}

.skill-card{
    height: 150px;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid grey;
}

.skill-card h1{
    font-size: 7vmin;
}

.skill-card img{
    height: 50px;
}

@media (max-width:900px) {
    #Skills-container .title{
        width: 100%;
    }
    .skill-card{
        height: auto;
        padding: 20px 0;
        width: 100%;
    }
}